
*~
*.tmp
*.bak
*.old
.tmp.*
*.rdata
*.kmz
*.kml

_pkg
_src
maps

/_Archive
/aoi
/competition
/complexity
/diversity
/diversitymodel
/diversity.stability
/eco-social.rome.fao
/ecozones
/gully
/halibut
/homeostasis
/hysteresis
/lagrange
/lobster
/model.ibm.crab.benthic.jae
/model.ibm.crab.brent
/model.ibm.crab.planktonic
/model.ibm.ragent
/model.size.structured.markov.networks
/observers
/perturbations2
/spera
/sustainability
/thermodynamics
/when.a.collapse.is.not.a.collapse

.Rproj.user
